body {
    --vraj-color: #F43B86;
    --vraj-color-d: #e7005d;
    --vraj-background: #E7E0C9;
    --vraj-background-d: #F6F6F6;
    --vraj-cpallete1: #264653;
    --vraj-cpallete2: #2A9D8F;
    --vraj-cpallete3: #F4A261;
    --vraj-cpallete4: #E76F51;
}

.app {
    display: flex;
    height: 100vh;
    /* max-width: 1300px; */
    /* margin-left: auto;
    margin-right: auto; */
}