body {
    --vraj-color: #F43B86;
    --vraj-color-d: #e7005d;
    --vraj-background: #E7E0C9;
    --vraj-background-d: #F6F6F6;
}

.app {
    display: flex;
    height: 100vh;
    /* max-width: 1300px; */
    /* margin-left: auto;
    margin-right: auto; */
}